dash==0.20.0
dash-auth==0.0.9
dash-core-components==0.18.1
dash-html-components==0.8.0
dash-renderer==0.11.3
plotly==2.3.0
numpy==1.12.1
numpydoc==0.6.0
panda==0.3.1
pandas==0.20.1
gspread==0.6.2
gspread-dataframe==2.1.0
gspread-pandas==0.14.3
gunicorn==19.8.1
oauth2client==4.1.1
oauthlib==2.0.4
jsonschema==2.6.0
Flask==0.12
Flask-Compress==1.4.0
Flask-Cors==3.0.2
Flask-SeaSurf==0.2.2
google-auth==1.4.2
